*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
img{
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family:"Rubik",sans-serif;
} 
.container{
    width: 1140px;
    margin: 0 auto;
  
}
.visually-hidden {
    position: absolute !important;
    height: 1px; width: 1px; 
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}
a{
    display: inline-block;
}
.box{
    height: 500px;
    width: 500px;
    background-color: rgba(209, 183, 183, 0.9);
    overflow: scroll;
}    
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}  
.label{
    display: block;
    margin:10px auto;
    width: 90%;

}
fieldset{
    width: 80%;
    margin:20px 0;
    padding: 20px;

} 
.label input{
    width: 100%;
    padding: 10px 20px;
}  
.label p{
    font-size: 30px;
}  
.gender label{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
} 
.gender label input{
    width: 20%;
}  
.form-button{
    width: 80%;
    margin: 10px 20px;
    font-size: 20px;
    margin-bottom: 20px;
} 
select{
    padding: 10px 20px;
    font-size: 20px;
    margin: 0 auto;
    width: 80%;
}
.textarea{
    resize: vertical;
    width: 100%;
    min-height: 50px;
    max-height: 200px;
    font-family:inherit;
}
.textarea::placeholder{
    padding: 20px;
    color: blue;
}
input[type=text]{
    background-color: cadetblue;
    color: white;
}
